/*--------------------------------------------------------------
	TABLE OF CONTENTS:
----------------------------------------------------------------
1.	Navbar - One page main menu
2.	Main Cover
3.	About Me
4.	Project Counters
5.	Client Testimonials
-------------------------------------------------------------------*/


/*--------------------------------------------------------------
#	Mobile Responsive Styles (767px)
--------------------------------------------------------------*/
@media (max-width: 767px){


	/*--------------------------------------------------------------
	1.	Navbar - One page main menu
	--------------------------------------------------------------*/
	.navbar-inverse .nav li a{
		padding: 15px 25px;
		font-weight: 600;
		text-transform: uppercase;
	}

	.navbar-inverse .navbar-toggle{
		border: 0px;
		margin: 0px;
		padding: 27px 26px;
	}
	
	.navbar-nav{margin: 0px -15px;}

	.navbar-inverse .navbar-toggle:focus, 
	.navbar-inverse .navbar-toggle:hover{
		background-color: transparent;
	}
	.navbar-header .menu_active > .icon-bar{ background-color: #ec3237; }


	/*--------------------------------------------------------------
	2.	Main Cover
	--------------------------------------------------------------*/
	.cover{
		height: 100vh;
		background-position-x: 65% !important;
	}

	#text{
		font-size: 2.8em;
	}

	.section_scroll {bottom: 50px;}


	/*--------------------------------------------------------------
	3.	About Me
	--------------------------------------------------------------*/
	.profile_cover{margin-bottom: 30px;}

		.profile p {
			padding: 0;
			margin: 0;
		}

	/*--------------------------------------------------------------
	5.	Client Testimonials
	--------------------------------------------------------------*/
	.testimonial_box{background-repeat: repeat-y;}
	.item_description{padding: 30px 15px;}

	/*--------------------------------------------------------------
	6.	Button
	--------------------------------------------------------------*/
	.btn {
		align-items: center;
		justify-content: center;
		margin: 0 auto;
	}
}

/*--------------------------------------------------------------
#	Large Screen 
--------------------------------------------------------------*/

@media (min-width: 767px) and (max-width: 1201px){
	/*--------------------------------------------------------------
	1.	Profile
	--------------------------------------------------------------*/
	.profile p {
		padding: 0 100px;
	}
}

/*--------------------------------------------------------------
#	Tablet (Ipad - Ipad pro) Responsive Styles
--------------------------------------------------------------*/
@media (min-width: 767px) and (max-width: 1023px){

	/*--------------------------------------------------------------
	1.	Main Cover
	--------------------------------------------------------------*/
	.cover{
		background-position-x: 65% !important;
		background-size: cover;
	}
	.brand_title {
		font-size: 25px;
	}
	.word_title {
		font-size: 25px;
	}
}

/*--------------------------------------------------------------
#	Small Mobile Responsive Styles (580px)
--------------------------------------------------------------*/
@media (max-width: 580px){
	.skill p {
		font-size: 15px;
	}
}
/*--------------------------------------------------------------
#	Super-Small Mobile Responsive Styles (420px)
--------------------------------------------------------------*/
@media (max-width: 420px){
	#text {
		font-size: 2.0em;
	}

	.brand_title {
		font-size: 25px;
	}
	.word_title {
		font-size: 25px;
	}
	/*--------------------------------------------------------------
	4.	Portfolio
	--------------------------------------------------------------*/
	.github-link {
		margin-top: 30px;
	}

	.skill p {
	font-size: 10px;
}
	.contact_container .contact-title {
		text-align: center !important;
	}
}



